{% extends 'auctions/layout.html' %} {% load static %}  {% block body %}
<div>
    <h2>{{detail.auc_title}}</h2>
    <img src="{{detail.auc_image.url}}" alt="rose flower" width="100px" height="auto">
    <details>{{detail.auc_details}}</details>
    <p>Price: {{detail.auc_price}}</p>
    <p>Date published: {{detail.auc_date_published}} </p>
    <p>

        {% for cato in detail.auctions.all %} {{cato}} {% endfor %}
        <!--{{detail.auctions.category}}--><br> created by: {{detail.auc_created_by}} <br> 
    </p>
    <br>
</div>
<div>
    <h2>Comments</h2> 
    <p>{% for comment in comments %}
        <ul>
            <li>{{comment}}</li>
        </ul>
        {% empty %}
        <ul>
            <li> No comments currently </li>
        </ul>
        {% endfor %}
    </p>
</div>
{% if is_fav %}
    <a href="{% url 'addwatchlist' detail.id %}"> REMOVE.</a>
{% else %}
    <a href="{% url 'addwatchlist' detail.id %}"> add to your watch list.</a>
{% endif %}
{% if user.is_authenticated %}
 <br>
    <form action="{% url 'comment' detail.id%}" method="POST">
        {% csrf_token %}
        {{com_form.as_p}}
        <button type=" submit ">Create</button>
    </form>
{% else %}
    <p>
    <a href="{% url 'login' %}">Sign in.</a> or  <a href="{% url 'register' %}">Sign up.</a> to comment on this post.
    </p>
{% endif %}

{% endblock body %}