{% extends "auctions/layout.html" %} {% load static %}
{% block body %}
{% comment %} TODO: Add the category searched in the hearder  {% endcomment %}
<h2> Associated Auction with ... category</h2>
{% for page in pages %}
    <a href= {% url 'auctions_list' page.id %}>
        <h2>{{page.auc_title}}</h2>
        <aside>{{page.auc_category}}</aside>
    </a>

    <img src="{{page.auc_image.url}}" alt="rose flower" width="100vw" height="auto">
    <p>Description: {{page.auc_details}}</p>
    <p>Price: {{page.auc_price}}</p>
    <dl> 
        <dt> 
            Category:
        </dt>
        <dd>
            {% for category in page.auctions.all %} 
            <ul><li>
                {{category}}
            </li></ul> 
            {% endfor %}
        </dd>
    </dl>
{% empty %}
    <p>Auction with category ... not found. </p>
    {% comment %} TODO: Add the category searched in the hearder  {% endcomment %}
    <a href={% url 'create_listing' %} > Create an Auction with {{category}} as category. </a>
{% endfor %}
{% endblock body %}