{% extends 'auctions/layout.html' %} {% load static %} 

{% block body %}


 {% for list in lists %}
    <div>
        <a href="{% url 'auctions_list' list.id %}">
            <h2>{{list.auc_title}}</h2>
            <aside>{{list.auc_category}}</aside>
        </a>
        <img src="{{list.auc_image.url}}" alt="rose flower" width="100vw" height="auto">
        <p>Description: {{list.auc_details}}</p>
        <p>Price: {{list.auc_price}}</p>
        <br> {% for category in list.auctions.all %} {{category}} {% endfor %} 
        {% comment %} {% for list in lists%} {{list}} {% endfor%} {% endcomment %}

    </div>
{% endfor %} 
{% endblock %}